<div class="best-secction">
  <div class="object">
    <div class="neon-box">
      <h3 class="title-best title1">Best of the week</h3>
      <div class="neon-bar bar"></div>
    </div>
    <div class="card-best">
      <div class="img-wrapper">
        <div class="drink-img week"></div>
      </div>
      <div class="text-content">
        <h4 class="cocktail-best">Red lips</h4>
        <p class="ingredients">Rye whiskey, Campari, Dry Vermouth</p>
        <p class="lorem">
          Orci habitant cursus sociosqu nostra hac augue vivamus sollicitudin
          hendrerit, odio bibendum rhoncus donec diam nisl ridiculus risus.
          Curabitur aptent varius orci ridiculus nullam nostra elementum hac
          montes iaculis in, gravida per aliquam justo convallis tortor potenti
          turpis nisi.
        </p>
      </div>
    </div>
  </div>

  <!-- Green -->
  <div class="object">
    <div class="neon-box">
      <h3 class="title-best title2">Best of the month</h3>
      <div class="neon-bar bar"></div>
    </div>
    <div class="card-best">
      <div class="img-wrapper">
        <div class="drink-img month"></div>
      </div>
      <div class="text-content">
        <h4 class="cocktail-best">Night push</h4>
        <p class="ingredients">Spiced rum, Grenadine, Orange juice</p>
        <p class="lorem">
          Orci habitant cursus sociosqu nostra hac augue vivamus sollicitudin
          hendrerit, odio bibendum rhoncus donec diam nisl ridiculus risus.
          Curabitur aptent varius orci ridiculus nullam nostra elementum hac
          montes iaculis in, gravida per aliquam justo convallis tortor potenti
          turpis nisi.
        </p>
      </div>
    </div>
  </div>
</div>
