<div class="card-best">
  <h3 class="title-best">Best of the week</h3>
  <div class="neon-bar"></div>
  <div class="img-wrapper">
    <div class="drink-img"></div>
  </div>
  <h4 class="cocktail-best">Cocktail title</h4>
  <p class="ingredients">Ingridient 1 | Ingridient 2 | Ingridient 3</p>
  <p class="lorem">
    Orci habitant cursus sociosqu nostra hac augue vivamus sollicitudin
    hendrerit, odio bibendum rhoncus donec diam nisl ridiculus risus. Curabitur
    aptent varius orci ridiculus nullam nostra elementum hac montes iaculis in,
    gravida per aliquam justo convallis tortor potenti turpis nisi.
  </p>
</div>
