nav.main-nav {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 99;
  padding-top: 25px;
  a.nav-logo {
    .logo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      h1 {
        font-family: "Nunito", sans-serif;
        font-size: 3rem;
        line-height: 3rem;
        animation: flicker 1.5s infinite alternate;
        font-weight: 400;
        text-align: center;
        margin: 0px;
      }
      h2 {
        font-size: 1.3rem;
        font-family: "Alex Brush", cursive;
        // margin-top: 28px;
        // margin-left: 5px;
        animation: flicker 1.3s infinite alternate;
        clear: both;
        display: inline-block;
        // overflow: hidden;
        white-space: nowrap;
        margin: 0px;
      }
      .neonText {
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
          0 0 42px #f42ee0, 0 0 82px #f42ee0, 0 0 92px #f42ee0,
          0 0 102px #f42ee0, 0 0 151px #f42ee0;
      }
      .neonText2 {
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
          0 0 42px #f42ee0, 0 0 82px #f42ee0, 0 0 92px #f42ee0,
          0 0 102px #f42ee0, 0 0 151px #f42ee0;
      }
    }
  }

  a.nav-link {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 100px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f42ee0,
      0 0 82px #f42ee0, 0 0 92px #f42ee0;
    transition: text-shadow 275ms ease-in;
    &:hover {
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f42ee0,
        0 0 82px #f42ee0, 0 0 92px #f42ee0, 0 0 102px #f42ee0, 0 0 151px #f42ee0;
    }
  }
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f42ee0,
      0 0 80px #f42ee0, 0 0 90px #f42ee0, 0 0 100px #f42ee0, 0 0 150px #f42ee0;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@media only screen and (min-width: 750px) {
  nav.main-nav {
    padding-top: 35px;
    a.nav-logo {
      .logo {
        padding: 0px 50px;
        h1 {
          font-size: 3.5rem;
          line-height: 3.5rem;
          margin: 0px;
        }
        h2 {
          font-size: 1.5rem;
          margin: 0px;
        }
      }
    }
    a.nav-link {
      font-size: 1.2rem;
      margin-top: 23px;
    }
  }
}

@media only screen and (min-width: 1100px) {
  nav.main-nav {
    a.nav-logo {
      .logo {
        padding: 0px 70px;
        h1 {
          font-size: 4rem;
          line-height: 4rem;
          margin: 0px;
        }
        h2 {
          font-size: 1.8rem;
          margin: 0px;
        }
      }
    }
    a.nav-link {
      font-size: 1.4rem;
      margin-top: 23px;
    }
  }
}
