/* STYLING SCROLLBAR */

::-webkit-scrollbar {
  width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  background-color: #0b0409; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: #ff34ee;
  border: 0.1vw solid #ff6ff3;
  border-radius: 5vw;
  -webkit-box-shadow: 0 0 2px #fff, 0 0 5px #f42ee0, 0 0 10px #f42ee0,
    0 0 15px #f42ee0, 0 0 20px #f42ee0, 0 0 30px #f42ee0;
  box-shadow: 0 0 2px #fff, 0 0 5px #f42ee0, 0 0 10px #f42ee0, 0 0 15px #f42ee0,
    0 0 20px #f42ee0, 0 0 30px #f42ee0;
  z-index: 2;
}
