section.cocktai-detail {
  padding-top: 150px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .img-wrapper {
    width: 400px;
    height: 460px;
    overflow: hidden;
    .drink-img {
      width: 100%;
      height: 100%;
      background: #0b0409 center center/cover no-repeat;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      transition: all 0.7s ease 0s;
      &:hover {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        transform: scale(1.1);
      }
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: 500px;
    padding-left: 20px;
    height: 100%;
    .description {
      // min-height: 200px;
      position: relative;
      h2.title {
        color: white;
        font-size: 2.5rem;
        font-family: "Nunito", sans-serif;
      }
      p.instruction,
      p.lorem {
        color: white;
        font-family: "Nunito", sans-serif;
        margin-top: 15px;
      }
      p.ingridients {
        color: white;
        font-family: "Nunito", sans-serif;
        margin-top: 40px;
      }
    }
    .back-link {
      margin-top: 30px;
      a {
        color: white;
        font-size: 1rem;
        margin-top: 40px;
      }
    }
  }
}
