section.cocktai-detail {
  padding-top: 190px;
  // padding-left: 60px;
  // padding-right: 60px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  .img-wrapper {
    width: 300px;
    height: 360px;
    overflow: hidden;
    .drink-img {
      width: 100%;
      height: 100%;
      background: #0b0409 center center/cover no-repeat;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      transition: all 0.7s ease 0s;
      &:hover {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        transform: scale(1.1);
      }
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      h2.title {
        color: white;
        font-size: 2.5rem;
        font-family: "Nunito", sans-serif;
      }
      p.instruction,
      p.lorem {
        color: white;
        font-family: "Nunito", sans-serif;
        margin-top: 15px;
        text-align: center;
      }
      p.ingridients {
        color: white;
        font-family: "Nunito", sans-serif;
        margin-top: 20px;
      }
    }
    .back-link {
      margin-top: 30px;
      a {
        color: white;
        font-size: 1rem;
        margin-top: 40px;
        cursor: pointer;
        font-family: "Nunito", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
          0 0 42px #f42ee0, 0 0 82px #f42ee0, 0 0 92px #f42ee0;
        &:hover {
          text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
            0 0 42px #f42ee0, 0 0 82px #f42ee0, 0 0 92px #f42ee0,
            0 0 102px #f42ee0, 0 0 151px #f42ee0;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  section.cocktai-detail {
    padding-top: 160px;
    height: auto;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    .img-wrapper {
      width: 400px;
      height: 460px;
    }

    .col {
      align-items: flex-start;
      width: 50%;
      padding: 0px 30px;
      .description {
        align-items: flex-start;
        width: 100%;
        height: auto;
        h2.title {
          line-height: 2.5rem;
        }
        p.instruction,
        p.lorem {
          text-align: left;
        }
      }
      .back-link {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
}
section.cocktai-detail {
  padding-top: 180px;
  .img-wrapper {
    width: 400px;
    height: 460px;
  }
  .col {
    padding: 0px 40px;
    .description {
      h2.title {
        line-height: 2.8rem;
      }
      p.instruction,
      p.lorem {
        font-size: 1.2rem;
      }
    }
  }
}
