<div class="card-list">
  <div
    *ngFor="
      let item of dataInfo
        | paginate
          : {
              id: 'cocktail-pagination',
              itemsPerPage: 9,
              currentPage: page,
              totalItems: totalRecords
            }
    "
  >
    <p-card [style]="{ width: '300px' }" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <!-- <img src="{{ item.strDrinkThumb }}" alt="{{ item.strDrink }}" /> -->
        <div class="img-wrapper">
          <div
            class="drink-img"
            [ngStyle]="{
              'background-image': 'url(' + item.strDrinkThumb + ')'
            }"
          ></div>
        </div>
      </ng-template>
      <a class="card-title" href="cocktails/{{ item.idDrink }}">
        {{ item.strDrink }}
      </a>
    </p-card>
  </div>
</div>

<pagination-controls
  id="cocktail-pagination"
  (pageChange)="page = $event"
></pagination-controls>
