@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

body {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #0b0409;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
